<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Sitemap" type="Core.Modules.Web.Sitemap.Configuration.SitemapConfigurationSection, Codeminers.Core.Modules.Web.Sitemap" />
  </configSections>
  <Sitemap>
    <urls baseUrl="https://www.codeminers.co.uk">
      <url name="home" value="{baseUrl}" />
      <url name="about" value="{baseUrl}/about" />
      <url name="value" value="{baseUrl}/about/value" />
      <url name="contact" value="{baseUrl}/contact" />
      <url name="terms" value="{baseUrl}/terms" />
      <url name="privacy" value="{baseUrl}/privacy" />
      <url name="cookies" value="{baseUrl}/cookie-policy" />
    </urls>
  </Sitemap>
</configuration>